/* ========================================
   FONT FAMILY
======================================== */
@font-face {
  font-family: "Jost";
  src: url("https://cdn.shopify.com/s/files/1/0747/8784/8346/files/Jost-Regular.woff2?v=1777992588")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("https://cdn.shopify.com/s/files/1/0747/8784/8346/files/Jost-Medium_1.woff2?v=1777992586")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("https://cdn.shopify.com/s/files/1/0747/8784/8346/files/Jost-Bold.woff2?v=1777992585")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lustria";
  src: url("https://cdn.shopify.com/s/files/1/0747/8784/8346/files/Lustria-Regular.woff2?v=1777992584")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* ========================================
   COMMON CSS
======================================== */
.Container {
  padding: 0 50px;
  margin: 0 auto;
}

/* ========================================
   HEADER CSS START
======================================== */
.main_gift_wrapper .main_header_wrapper {
  width: 100%;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 11;
}

.header_box .header_grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Logo */
.header_grid_col .logo_box img {
  max-width: 151.44px;
  height: 19px;
  object-fit: cover;
  display: flex;
}

/* Text */
.header_grid_col p {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 13.42px;
  font-weight: 400;
  text-align: center;
}

/* Button */
.header_grid_col .header_button {
  padding: 10px 0;
  position: relative;
}

.header_button a.custom-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;

  display: inline-block;
  padding: 11.67px 64px 11.67px 41px;

  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 20.48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  transition: color 0.4s ease;
}

.header_button a.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background-color: #000000;
  transition: left 0.4s ease;
  z-index: -1;
}

.header_button a.custom-btn:hover::before {
  left: 0;
}

.header_button a.custom-btn:hover {
  color: #ffffff !important;
}

/* Button Icon */
.header_button a.custom-btn span {
  position: absolute;
  right: 25px;
  transform: translateY(5px);
}

.header_button a.custom-btn svg path {
  fill: #000000;
  transition: fill 0.4s ease;
}

.header_button a.custom-btn:hover svg path {
  fill: #ffffff;
}

/* Mobile Header */
.header_box .mobile_header_wrapper {
  display: none;
}

.header_grid.mobile_header .crossIcon {
  display: none;
}

/* ========================================
   HEADER MOBILE CSS
======================================== */
@media (max-width: 768px) {
  .Container {
    padding: 0;
  }

  .header_box .header_grid.desktopHeader {
    display: none;
  }

  .header_box .mobile_header_wrapper {
    display: block;
  }

  .header_box .header_grid {
    flex-direction: row-reverse;
    justify-content: center;

    padding: 23px 16px;
    box-shadow: 0 4px 10px #0000001a;
  }

  .header_grid_col.icons_col {
    width: 10%;
  }

  .header_grid_col {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_grid.mobile_header.active .menuIcon {
    display: none;
  }

  .header_grid.mobile_header.active .crossIcon {
    display: block;
  }

  .slideshowHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 25px;
  }
}

/* ========================================
   BANNER CSS START
======================================== */
.banner_wrapper .bannerImg {
  width: 100%;
  display: flex;
}

.banner_wrapper .bannerImg img {
  width: 100%;
  display: flex;
  object-fit: contain;
}

/* Banner Bottom */
.banner-bottom-wrapper .banner-grid {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;

  width: 100%;
}

.banner-bottom-wrapper .banner-grid-col-1 {
  width: 61.81%;
}

.banner-bottom-wrapper .banner-grid-col-2 {
  width: 38.19%;
}

/* Images */
.banner-bottom-wrapper .bannerimg2,
.banner-bottom-wrapper .bannerimg2 img {
  width: 100%;
  display: flex;
}

.banner-bottom-wrapper .mobileimg2,
.banner-bottom-wrapper .mobile_wrapper,
.banner-bottom-wrapper .banner_paragraph.mobile_paragraph,
.main_gift_wrapper .footer_box.footer_mob {
  display: none;
}

.banner-bottom-wrapper .mobileimg2 img {
  width: 100%;
  object-fit: cover;
}

/* Content */
.banner-content {
  margin: 0 24px 0 67px;
}

.banner-bottom-wrapper .banner-headding,
.banner-bottom-wrapper .banner_paragraph {
  margin: 0 0 50px;
}

.banner-bottom-wrapper .banner-headding h2 {
  margin: 0;

  font-family: "Jost", sans-serif;
  font-size: 70px;
  line-height: 100%;
  font-weight: 500;
  color: #000000;
}

.banner-bottom-wrapper .banner_paragraph p {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
}

/* Banner Button */
.banner-button {
  position: relative;
  margin-bottom: 50px;
}

.banner-bottom-wrapper a.custom-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;

  display: inline-block;
  padding: 14.26px 77px 14.74px 55px;

  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 20.48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  transition: color 0.4s ease;
}

.banner-bottom-wrapper a.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background-color: #fff544;
  transition: left 0.4s ease;
  z-index: -1;
}

.banner-bottom-wrapper a.custom-btn:hover::before {
  left: 0;
}

.banner-bottom-wrapper a.custom-btn:hover {
  color: #000000 !important;
}

.banner-button a.custom-btn span {
  position: absolute;
  right: 25px;
  transform: translateY(5px);
}

.banner-button a.custom-btn svg path {
  fill: #ffffff;
  transition: fill 0.4s ease;
}

.banner-button a.custom-btn:hover svg path {
  fill: #000000;
}

/* ========================================
   FOOTER CSS
======================================== */
.main_gift_wrapper .footer_wrapper {
  background: #f5f5f5;
  padding: 10px 0;
}

.main_gift_wrapper .footer_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main_gift_wrapper .footer_box h3 {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 13.42px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

/* ========================================
   BANNER MOBILE CSS
======================================== */
@media (max-width: 768px) {
  .banner_wrapper .bannerImg,
  .banner-bottom-wrapper .bannerimg2,
  .banner-bottom-wrapper .banner-button,
  .banner-bottom-wrapper .banner_paragraph,
  .main_gift_wrapper .footer_box {
    display: none;
  }

  .banner-bottom-wrapper .mobileimg2,
  .banner-bottom-wrapper .mobile_wrapper,
  .banner-bottom-wrapper .banner_paragraph.mobile_paragraph,
  .main_gift_wrapper .footer_box.footer_mob {
    display: block;
  }

  .banner-bottom-wrapper .banner-grid {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 12px;
  }

  .banner-bottom-wrapper .banner-grid-col-1,
  .banner-bottom-wrapper .banner-grid-col-2 {
    width: 100%;
  }

  .banner-content {
    margin: 0;
    padding: 0 17px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner-bottom-wrapper .banner-headding {
    margin: 49px 0 0;
  }

  .banner-bottom-wrapper .banner_paragraph {
    margin: 24px 0 0;
  }

  .banner-bottom-wrapper .banner-headding h2 {
    font-size: 30px;
  }

  .banner-bottom-wrapper .banner_paragraph p {
    font-size: 16px;
    line-height: 20.8px;
    text-align: center;
  }

  .main_gift_wrapper .footer_box h3 {
    font-size: 14px;
  }

  .banner-bottom-wrapper .mobile_wrapper {
    position: relative;
  }

  .banner-bottom-wrapper .banner-button.mobile_button {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 39px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(-50%);
  }

  .banner-bottom-wrapper a.custom-btn {
    padding: 13px 54px 13px 20px;
  }
}

/* ========================================
   TABLET CSS
======================================== */
@media (min-width: 769px) and (max-width: 950px) {
  .banner-bottom-wrapper .banner-headding {
    margin: 0 0 26px;
  }

  .banner-bottom-wrapper .banner-headding h2 {
    font-size: 30px;
  }

  .banner-bottom-wrapper .banner_paragraph p {
    font-size: 16px;
    line-height: 21px;
  }

  .banner-bottom-wrapper a.custom-btn {
    font-size: 14px;
  }
}

@media (min-width: 950px) and (max-width: 1199px) {
  .banner-bottom-wrapper .banner-headding {
    margin: 0 0 26px;
  }

  .banner-bottom-wrapper .banner-headding h2 {
    font-size: 43px;
  }

  .banner-bottom-wrapper .banner_paragraph p {
    font-size: 18px;
    line-height: 25px;
  }

  .banner-content {
    margin: 0 24px 0 40px;
  }
}

/* ========================================
   TISSO VISION CSS START
======================================== */
.tisso_vision_main_wrapper {
  width: 100%;
  position: relative;
}

.tisso_vision_main_wrapper .tisso_conatianer {
  width: calc(100% - 102px);
  max-width: 1440px;
  margin: 90px auto 51px;
}

/* Heading */
.tisso_vision_main_wrapper .tisso_heading {
  margin-bottom: 30px;
}

.tisso_vision_main_wrapper .tisso_heading h2 {
  margin: 0;

  font-family: "Lustria", sans-serif;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 400;
  color: #000000;
}

/* Product Grid */
.tisso_product_grid .tisso_product_col {
  width: 100%;
}

.tisso_product_grid .tisso_product {
  position: relative;
}

/* Product Image */
.tisso_vision_main_wrapper .tisso_product_image img {
  width: 100%;
  min-height: 444px;
  object-fit: cover;
  display: flex;
}

/* Dot Area */
.tisso_product .dot-area {
  position: absolute;
  transform: translate(-50%, -50%);
}

.tisso_product span.plusDog {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f8f8f8e5;
  border-radius: 20px;
  cursor: pointer;
}

/* ========================================
   SELECT OPTION
======================================== */
.variant_block .select {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 300px;
  height: 45px;
  line-height: 45px;

  background: #5c6664;
  overflow: hidden;
}

.select select {
  width: 100%;
  display: block;

  padding: 10px 18px 10px 13px;
  border-radius: unset;
  cursor: pointer;
}

.select select option {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.productSelect option:first-child {
  text-align: left;
}

.select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 100%;

  border-left: 0.5px solid #000000;
  pointer-events: none;
}

/* ========================================
   POPUP CSS
======================================== */
.tisso_vision_main_wrapper .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  z-index: 99;
}

.tisso_vision_main_wrapper .popup-overlay.active {
  opacity: 1;
  visibility: visible;
}

.tisso_vision_main_wrapper .main-popup {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 311px;

  padding: 20px 20px 25px;

  background: #ffffff;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
}

.tisso_vision_main_wrapper .main-popup.active {
  display: block;
}

.main-popup .popupCross {
  float: right;
  margin-bottom: 10px;
  display: block;
}

/* Popup Row */
.main-popup .product-row-box {
  display: flex;
  gap: 8px;

  width: 100%;
  padding-bottom: 10px;
}

.product-row-box .product-popupimage {
  width: 40%;
}

.product-row-box .product_description_box {
  width: 60%;
}

.main-popup .product-popupimage img {
  max-width: 120px;
  min-height: 100%;
  object-fit: cover;
  display: flex;
}

/* Product Text */
.product_description_box h5 {
  margin: 0 0 20px;

  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 300;
  color: #000000;
}

.product_description_box h2 {
  margin: 0 0 12px;

  font-family: "Lustria", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  color: #000000;
}

.product_description_box p {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  line-height: 15.4px;
  font-weight: 300;
  color: #000000;
}

/* ========================================
   PRODUCT OPTIONS
======================================== */
.product_options .custom_variant_wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 11.52px;
  width: 100%;
}

.custom_variant_wrapper label.variant_label {
  display: inline-block;
  padding-bottom: 6.35px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
}

/* Color Options */
.variant_block .color_options {
  display: flex;
  justify-content: space-evenly;
  border: 0.5px solid #000000;
}

.variant_block .option_button {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10.59px 8.5px 11.48px 15px;
  cursor: pointer;
}

.option_button .value_span {
  display: block;
  width: 100%;

  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  text-transform: capitalize;
  color: #000000;
}

.variant_block .option_button.active {
  background: #000000;
}

.variant_block .option_button.active .value_span {
  color: #ffffff;
}

span.color_swatch {
  position: absolute;
  top: 0;
  left: 0;

  width: 5.8px;
  height: 40px;

  border-left: 0.5px solid #000000;
  border-right: 0.5px solid #000000;
}

/* ========================================
   PRODUCT BUTTON
======================================== */
.product-button {
  position: relative;
  margin-top: 50px;
}

button.button_bundle {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 74px;

  border: 1px solid #000000;
  background: #000000;
  cursor: pointer;

  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 20.48px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.product-button span {
  position: absolute;
  right: 33px;
}

.product-button .button_bundle svg path {
  fill: #ffffff;
  transition: fill 0.4s ease;
}

/* ========================================
   TISSO RESPONSIVE
======================================== */
@media (min-width: 768px) {
  .tisso_vision_main_wrapper .tisso_product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    width: 100%;
  }
}

@media (max-width: 768px) {
  .tisso_vision_main_wrapper .tisso_conatianer {
    width: calc(100% - 33.44px);
    margin: 40px auto;
  }

  .tisso_vision_main_wrapper .tisso_product_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;

    width: 100%;
  }

  .tisso_vision_main_wrapper .tisso_product_image img {
    min-height: 100%;
    object-fit: contain;
  }

  .tisso_vision_main_wrapper .tisso_heading {
    margin-bottom: 20px;
  }

  .tisso_vision_main_wrapper .tisso_heading h2 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .tisso_vision_main_wrapper .main-popup {
    width: 270px;
  }

  button.button_bundle {
    font-size: 13px;
  }

  .product-button {
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .tisso_vision_main_wrapper .tisso_product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    width: 100%;
  }

  .tisso_vision_main_wrapper .tisso_conatianer {
    margin: 60px auto 40px;
    padding: 0 24px;
  }

  .tisso_vision_main_wrapper .tisso_product_image img {
    min-height: 100%;
    object-fit: contain;
  }
}
